<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="anoop.myprojects.gec_sfi">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!--
    uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /
    -->
    <application
        android:name=".FireLearn"
        android:allowBackup="true"
        android:icon="@mipmap/azadi_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/azadi_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/info" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <!-- [END fcm_default_icon] -->
        <!-- [START fcm_default_channel] -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <!-- [END fcm_default_channel] -->

        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Navgation" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".pdfview" />
        <activity android:name=".MainActivity" />
        <activity android:name=".GPL_Explore" />
        <activity android:name=".CollegeBus" />
        <activity android:name=".Bus1" />
        <activity android:name=".Bus2" />
        <activity android:name=".Bus3" />
        <activity android:name=".Bus4" />
        <activity android:name=".Bus5" />
        <activity android:name=".Bus6" />
        <activity android:name=".Linebuses" />
        <activity android:name=".Music_Show_More" />
        <activity android:name=".Dance_show_more" />
        <activity android:name=".Drama_show_more" />
        <activity android:name=".Media_show_more" />
        <activity android:name=".Design_show_more" />
        <activity android:name=".Beutification" />
        <activity android:name=".Sports_show_more" />
        <activity android:name=".NSS" />
        <activity android:name=".Ieee" />
        <activity android:name=".CSELab" />
        <activity android:name=".ECELab" />
        <activity android:name=".MELab" />
        <activity android:name=".ITLab" />
        <activity android:name=".EEELab" />
        <activity android:name=".GeneralLab" />
        <activity android:name=".Demo" />
        <activity android:name=".PrivateMensHostelShowMore" />
        <activity android:name=".PrivateWomensHostelShowMore" />
        <activity android:name=".LHShowMore" />
        <activity android:name=".Notifications" />
        <activity android:name=".InventoExplore" />

        <service android:name=".MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        `
        <service android:name=".FcmMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".AchievementsShowMore" />
        <activity android:name=".SarangExplore" />
        <activity android:name=".PmeExplore" />
        <activity android:name=".SummerfestExplore" />
        <activity android:name=".YearWiseCricketExplore" />
        <activity android:name=".YearWiseFootballExplore" />
        <activity android:name=".GCLExplore" />
        <activity android:name=".DakshaExplore" />
        <activity android:name=".AnnualSportMeetExplore" />
        <activity android:name=".LibraryShowMore" />
        <activity android:name=".GymShowmore" />
        <activity android:name=".CanteenShowMore" />
        <activity android:name=".DormetryShowMore" />
        <activity android:name=".CCFShowmore" />
        <activity android:name=".Iedc" />

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".MyJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <activity android:name=".NSS_notification" />
        <activity android:name=".MapHome" />
        <activity android:name=".GroundFloorPartOneDesc" />
        <activity android:name=".FirstFloorPartOneDesc" />
        <activity android:name=".SecondFloorPartOneDesc" />
        <activity android:name=".ThirdFloorPartOneDesc" />
        <activity android:name=".GroundFloorPartTwoDesc" />
        <activity android:name=".FirstFloorPartTwoDesc" />
        <activity android:name=".SecondFloorPartTwoDesc" />
        <activity android:name=".ThirdFloorPartTwoDesc" />
        <activity android:name=".WorkshopDesc" />
        <activity android:name=".LHandDormetry" />
    </application>

</manifest>