<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="anoop.myprojects.gec_sfi">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".FireLearn"
        android:allowBackup="true"
        android:icon="@mipmap/azadiogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/azadiogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Navgation" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".pdfview" />
        <activity android:name=".MainActivity" />
        <activity android:name=".GPL_Explore" />
        <activity android:name=".CollegeBus" />
        <activity android:name=".Bus1" />
        <activity android:name=".Bus2" />
        <activity android:name=".Bus3" />
        <activity android:name=".Bus4" />
        <activity android:name=".Bus5" />
        <activity android:name=".Bus6" />
        <activity android:name=".Linebuses" />
        <activity android:name=".Music_Show_More" />
        <activity android:name=".Dance_show_more" />
        <activity android:name=".Drama_show_more" />
        <activity android:name=".Media_show_more" />
        <activity android:name=".Design_show_more" />
        <activity android:name=".Beutification" />
        <activity android:name=".Sports_show_more" />
        <activity android:name=".NSS" />
        <activity android:name=".Ieee" />
        <activity android:name=".CSELab" />
        <activity android:name=".ECELab" />
        <activity android:name=".MELab" />
        <activity android:name=".ITLab" />
        <activity android:name=".EEELab" />
        <activity android:name=".GeneralLab" />
        <activity android:name=".Demo" />
        <activity android:name=".PrivateMensHostelShowMore" />
        <activity android:name=".PrivateWomensHostelShowMore" />
        <activity android:name=".LHShowMore" />
        <activity android:name=".Notifications" />
        <activity android:name=".InventoExplore" />

        <service android:name=".MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        `
        <service android:name=".FcmMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".AchievementsShowMore" />
        <activity android:name=".SarangExplore" />
        <activity android:name=".PmeExplore" />
        <activity android:name=".SummerfestExplore" />
        <activity android:name=".YearWiseCricketExplore" />
        <activity android:name=".YearWiseFootballExplore" />
        <activity android:name=".GCLExplore" />
        <activity android:name=".DakshaExplore" />
        <activity android:name=".AnnualSportMeetExplore" />
        <activity android:name=".LibraryShowMore"></activity>
    </application>

</manifest>